<html>

<head>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />

    <link rel='stylesheet' href='//d33wubrfki0l68.cloudfront.net/css/7508242d09cc1245ef5d3fc898703190db444d1d/content/css/tosayoga.bootstrap.css'
    />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>This is the single layout</h1>
            {{.Content}}
        </div>
    </div>
</body>

</html>